body{
    height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    color: black;
}
#icone img{
    width: 200px;
    height: 200px;
    margin-top: 80px;
}
#bio{
    text-align: justify;
    margin-left: 10px;

}
#bio h1{
    font-family: Helvetica, Arial, sans-serif;
    color:black;
    text-decoration: underline;
}
#bio h2{
    font-size: 12px;

}
#menu {
    margin-left: 10px;
    margin-top: 100px;
}
.contatos{
    text-decoration: none;
    color: black;
}