body{
    font-family: 'Cormorant Garamond', serif;
    color: black;
    display: flex;
}
.containerPrincipal{
    display: flex;
    flex-direction: column;
    /*border: 2px solid #000;*/
    margin-left: 50px;
}
#icone img{
    width: 150px;
    height: 150px;
    margin-top: 80px;
   /* border: 2px solid #000;*/
}
#bio{
    text-align: justify;
    margin-left: 20px;
    /*border: 2px solid #000;*/
    width: 235px;
    padding: 10px;
    margin-bottom: none;

}
#bio h1{
    color:black;
    text-decoration: underline;
    font-size: 42px;
    /*border: 2px solid #000;*/
}
#bio p{
    font-size: 18px;

}
#menu {
    margin-left: 20px;
    /*border: 2px solid #000;*/
    padding: 10px;
    width: 235px;
    margin-top: none;
    font-weight: bold;
}
#conteinerSegundo{
    margin: auto;
    /*margin: 2px solid #000;*/

}
#gradeLivro {
    height: 600px;
    width: 580px;
    margin:auto;
    
}
#livros{
    display: flex;
    flex-wrap: wrap;
}
#livros img{
    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
}
.contatos{
    text-decoration: none;
    color: black;
    /*border: 2px solid #000;*/
    width: 235px;
    margin-top: 100px;
    font-weight: bolder;
}
.contatos a{
    text-decoration:none;
    color: #000;
}