body{
    height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    color: black;
    flex-direction: row;
}
#icone img{
    width: 200px;
    height: 200px;
    margin-top: 80px;
    border: 2px solid #000;
}
.conteinerBio{
    border: 2px solid #000;
    width: 300px;


}
#bio{
    text-align: justify;
    margin-left: 10px;
    border: 2px solid #000;
    width: 235px;
    padding: 10px;

}
#name h1{
    font-family: Helvetica, Arial, sans-serif;
    color:black;
    text-decoration: underline;
    font-size: 33px;
    width: 235px;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid #000;
}
#bio h2{
    font-size: 12px;

}
#menu {
    margin-left: 10px;
    margin-top: 100px;
    border: 2px solid #000;
    width: 235px;
    padding: 10px;
    margin-top: none;
}
#gradeLivro {
    border: 2px solid #000;
}
.contatos{
    text-decoration: none;
    color: black;
    border: 2px solid #000;
    width: 235px;
    border-top: 10px;
}
